
ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}
.red-text {
    color: orange;
}
.note {

font-size: 40px; font-family: Arial, Helvetica, sans-serif;color: blue;
}
* {
    background-color: brown;
}
#red {
    color: red;

}

img {
    height: 200px;
    width: 200px;
}